<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>ВК поблизости</title>
</head>

<body>
    <button onclick="window.location = '/'">Назад</button>
    {% if err %}
        <script>
            alert ("{{err}}");
        </script>
    {% endif %}

    <script src="{% static 'js/geo.js' %}"></script>

    <center>
        <img src="http://assets.aamds.org/images/smashing-freebie-responsive-mobile-icon-set/cold/png/512/gps.png" width="100" style="display: inline-block">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/600px-VK.com-logo.svg.png" width="100" style="display: inline-block">
        <h2>
            Сервис предоставляет возможность найти людей из ВК поблизости.
            <br>


        </h2>

        {% if not users %}
            <form action="/" method="post">
                {% csrf_token %}

                Широта: <input type="text" name="l1" id="l1" value="0">
                <br>
                Долгота: <input type="text" id="l2" name="l2" value="0">
                <br>
                <button type="button" onclick="getLocation (); showPosition ()">Поставить мое местонахождение</button>
                <br>
                <br>
                <br>
                Токен: <input type="text" name="token"><button type="button" onclick="window.location = 'https://oauth.vk.com/authorize?client_id=5124988&redirect_uri=blank.html&display=mobile&scope=offline&response_type=token&v=5.52'">Получить токен</button>
                <br><button onclick="alert ('После нажатия на \'Получить токен\' - в адресной строке скопируйте все от access_token= до знака &');" type="button">Ну хорошо, я перешел (перешла), а токен где брать?</button>
                <br>
                <img src="{% static 'img/help.png' %}" id="help_img" style="visibility: hidden">
                <br>
                <input type="radio" name="radius" value="1">300 метров
                <br>
                <input type="radio" name="radius" value="2">2400 метров
                <br>
                <input type="radio" name="radius" value="3">18 километров
                <br>
                <input type="radio" name="radius" value="4">150 километров
                <br>
                <input type="submit" value="Найти">
            </form>
        {% else %}
            {% for i in users %}
                <img src="{{i.avatar}}"><h1>{{i.fname}} {{i.lname}}</h1>
                <h1>Код страны: {{i.country}}</h1>
                <button onclick="window.location = 'https://vk.com/id{{i.uid}}'">Перейти</button>
                <hr>
            {% endfor %}
        {% endif %}

        <br>
        <br>
        <br>
        <button onclick="window.location = 'https://vk.com/doctor_rabb'">Разработчик</button>
        <br>
        <button onclick="window.location = 'https://doctor-rabb@bitbucket.org/doctor-rabb/search_people_vk.git'">Исходники</button>
        <br>
        <h5>© Владислав Котов 2015-2016</h5>
    </center>
</body>
</html>